/* GENERAL */

  @import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

  body {
    box-sizing: border-box;
    background: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%)) no-repeat;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: auto;
    max-width: 52em;
    min-height: 100vh;
    font-family: 'Kumbh Sans', sans-serif;
  }

  main {
    background-color: white;
    position: relative;
    border-radius: 25px;
    display: flex;
    width: 56.5em;
    min-height: 31.5em;
    box-shadow: 0px 50px 100px -50px hsl(238, 29%, 16%);
  }
  

  hr {
    border-width: 0;
    height: 1px;
    color: hsl(240, 5%, 91%);
    background-color: hsl(240, 5%, 91%);
    margin: 1.25em 0 1.25em 0; 
  }
  
  h1 {
    margin-bottom: 1.5em;
  }

  p {
    margin-bottom: 0;
  }


/* IMAGE */

.main_pictures {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  width: 45em;
  height: auto;
  padding-right: 1em;
 }

.main_pictures--woman {
  position: absolute;
  z-index: 2;
  margin-left: -100px;
}

.main_pictures--woman img {
  height: 350px;
  width: auto;
}

.main_pictures--shadow {
  position: absolute;
  z-index: 1;
  margin-left: -605px;
  margin-top: -145px;
}

.main_pictures--box {
  position: absolute;
  overflow: visible;
  z-index: 3;
  margin-left: -93px;
  margin-top: 205px;
}

.main_pictures--womanmobile, .main_pictures--shadowmobile {
  display: none;
}


/* ACCORDION */

  .main_accordion {
    padding: 2em 6em 5em 2.5em;
    max-width: 22em;
  }

  .main_accordion--label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: hsl(238, 29%, 16%);
    cursor: pointer;
    transition: color 0.15s;
    position: relative;
    letter-spacing: 0.75px;
    font-size: 0.85rem;
  }

  .main_accordion--arrow {
    width: 0.75em;
    height: 0.5em;
    transform: rotate(0);
    transition: all 0.5s ease;
  }


  .main_accordion--label:hover {
    color: hsl(14, 88%, 65%);
  }

  .main_accordion--content {
    line-height: 1.25rem;
    font-size: 0.8rem;
    color: hsla(238, 29%, 16%, 0.6);
    overflow: hidden;
    max-height: 0em;
    transition: all 0.5s ease;
  }

  .main_accordion--input {
    display: none;
  }

  .main_accordion--input:checked ~ .main_accordion--content {
    max-height: 8em;
  }

  .main_accordion--input:checked ~ .main_accordion--label {
    color: hsl(238, 29%, 16%);
    font-weight: 700;
  }

  .main_accordion--input:checked + .main_accordion--label .main_accordion--arrow {
    transform: rotate(-180deg);
  }


/* MOBILE */

@media screen and (max-width: 375px) {

    body {
      min-height: 100vh;
    }

    main {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      max-width: 21em;
      min-height: 34em;
      margin: 1em ;
    }

    h1 {
      text-align: center;
      margin-bottom: 1em;
    }
    

    .main_pictures--woman, .main_pictures--shadow, .main_pictures--box {
      display: none;
    }
  
    .main_pictures--mobile {
      position: relative;
      width: 15.5em;
    }

    .main_pictures--womanmobile, .main_pictures--shadowmobile {
      display: block;
      overflow: visible;
    }
    
    .main_pictures--womanmobile {
      width: 15em;
      position: fixed;
      top: 3.1em;
      z-index: 2;    
    }

    .main_pictures--shadowmobile {
      position: fixed;
      top: 9.85em;
      z-index: 1;    
    }

    .main_accordion {
      padding: 8em 1.5em 2.5em 1.5em;    
    }

    .main_accordion--label {
       letter-spacing: 0;
    }

    }